web/WEB-INF/wsdl/localhost_8084/CRUDWEB/Operaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://operaciones/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://operaciones/" name="Operaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://operaciones/" schemaLocation="http://localhost:8084/CRUDWEB/Operaciones?xsd=1" />
</xsd:schema>
</types>
<message name="actualizarPassword">
<part name="parameters" element="tns:actualizarPassword" />
</message>
<message name="actualizarPasswordResponse">
<part name="parameters" element="tns:actualizarPasswordResponse" />
</message>
<message name="buscarDepartamento">
<part name="parameters" element="tns:buscarDepartamento" />
</message>
<message name="buscarDepartamentoResponse">
<part name="parameters" element="tns:buscarDepartamentoResponse" />
</message>
<message name="buscarEmpleado">
<part name="parameters" element="tns:buscarEmpleado" />
</message>
<message name="buscarEmpleadoResponse">
<part name="parameters" element="tns:buscarEmpleadoResponse" />
</message>
<message name="guardarUsuario">
<part name="parameters" element="tns:guardarUsuario" />
</message>
<message name="guardarUsuarioResponse">
<part name="parameters" element="tns:guardarUsuarioResponse" />
</message>
<message name="eliminarEmpleado">
<part name="parameters" element="tns:eliminarEmpleado" />
</message>
<message name="eliminarEmpleadoResponse">
<part name="parameters" element="tns:eliminarEmpleadoResponse" />
</message>
<message name="actualizarEmpleado">
<part name="parameters" element="tns:actualizarEmpleado" />
</message>
<message name="actualizarEmpleadoResponse">
<part name="parameters" element="tns:actualizarEmpleadoResponse" />
</message>
<message name="buscarUsuario">
<part name="parameters" element="tns:buscarUsuario" />
</message>
<message name="buscarUsuarioResponse">
<part name="parameters" element="tns:buscarUsuarioResponse" />
</message>
<message name="mostrarUsuarios">
<part name="parameters" element="tns:mostrarUsuarios" />
</message>
<message name="mostrarUsuariosResponse">
<part name="parameters" element="tns:mostrarUsuariosResponse" />
</message>
<message name="eliminarUsuario">
<part name="parameters" element="tns:eliminarUsuario" />
</message>
<message name="eliminarUsuarioResponse">
<part name="parameters" element="tns:eliminarUsuarioResponse" />
</message>
<message name="guardarEmpleado">
<part name="parameters" element="tns:guardarEmpleado" />
</message>
<message name="guardarEmpleadoResponse">
<part name="parameters" element="tns:guardarEmpleadoResponse" />
</message>
<message name="mostrarDepartamentos">
<part name="parameters" element="tns:mostrarDepartamentos" />
</message>
<message name="mostrarDepartamentosResponse">
<part name="parameters" element="tns:mostrarDepartamentosResponse" />
</message>
<message name="guardarDepartamento">
<part name="parameters" element="tns:guardarDepartamento" />
</message>
<message name="guardarDepartamentoResponse">
<part name="parameters" element="tns:guardarDepartamentoResponse" />
</message>
<message name="eliminarDepartamento">
<part name="parameters" element="tns:eliminarDepartamento" />
</message>
<message name="eliminarDepartamentoResponse">
<part name="parameters" element="tns:eliminarDepartamentoResponse" />
</message>
<message name="mostarEmpleados">
<part name="parameters" element="tns:mostarEmpleados" />
</message>
<message name="mostarEmpleadosResponse">
<part name="parameters" element="tns:mostarEmpleadosResponse" />
</message>
<message name="actualizarDepartamento">
<part name="parameters" element="tns:actualizarDepartamento" />
</message>
<message name="actualizarDepartamentoResponse">
<part name="parameters" element="tns:actualizarDepartamentoResponse" />
</message>
<portType name="Operaciones">
<operation name="actualizarPassword">
<input wsam:Action="http://operaciones/Operaciones/actualizarPasswordRequest" message="tns:actualizarPassword" />
<output wsam:Action="http://operaciones/Operaciones/actualizarPasswordResponse" message="tns:actualizarPasswordResponse" />
</operation>
<operation name="buscarDepartamento">
<input wsam:Action="http://operaciones/Operaciones/buscarDepartamentoRequest" message="tns:buscarDepartamento" />
<output wsam:Action="http://operaciones/Operaciones/buscarDepartamentoResponse" message="tns:buscarDepartamentoResponse" />
</operation>
<operation name="buscarEmpleado">
<input wsam:Action="http://operaciones/Operaciones/buscarEmpleadoRequest" message="tns:buscarEmpleado" />
<output wsam:Action="http://operaciones/Operaciones/buscarEmpleadoResponse" message="tns:buscarEmpleadoResponse" />
</operation>
<operation name="guardarUsuario">
<input wsam:Action="http://operaciones/Operaciones/guardarUsuarioRequest" message="tns:guardarUsuario" />
<output wsam:Action="http://operaciones/Operaciones/guardarUsuarioResponse" message="tns:guardarUsuarioResponse" />
</operation>
<operation name="eliminarEmpleado">
<input wsam:Action="http://operaciones/Operaciones/eliminarEmpleadoRequest" message="tns:eliminarEmpleado" />
<output wsam:Action="http://operaciones/Operaciones/eliminarEmpleadoResponse" message="tns:eliminarEmpleadoResponse" />
</operation>
<operation name="actualizarEmpleado">
<input wsam:Action="http://operaciones/Operaciones/actualizarEmpleadoRequest" message="tns:actualizarEmpleado" />
<output wsam:Action="http://operaciones/Operaciones/actualizarEmpleadoResponse" message="tns:actualizarEmpleadoResponse" />
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://operaciones/Operaciones/buscarUsuarioRequest" message="tns:buscarUsuario" />
<output wsam:Action="http://operaciones/Operaciones/buscarUsuarioResponse" message="tns:buscarUsuarioResponse" />
</operation>
<operation name="mostrarUsuarios">
<input wsam:Action="http://operaciones/Operaciones/mostrarUsuariosRequest" message="tns:mostrarUsuarios" />
<output wsam:Action="http://operaciones/Operaciones/mostrarUsuariosResponse" message="tns:mostrarUsuariosResponse" />
</operation>
<operation name="eliminarUsuario">
<input wsam:Action="http://operaciones/Operaciones/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
<output wsam:Action="http://operaciones/Operaciones/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
</operation>
<operation name="guardarEmpleado">
<input wsam:Action="http://operaciones/Operaciones/guardarEmpleadoRequest" message="tns:guardarEmpleado" />
<output wsam:Action="http://operaciones/Operaciones/guardarEmpleadoResponse" message="tns:guardarEmpleadoResponse" />
</operation>
<operation name="mostrarDepartamentos">
<input wsam:Action="http://operaciones/Operaciones/mostrarDepartamentosRequest" message="tns:mostrarDepartamentos" />
<output wsam:Action="http://operaciones/Operaciones/mostrarDepartamentosResponse" message="tns:mostrarDepartamentosResponse" />
</operation>
<operation name="guardarDepartamento">
<input wsam:Action="http://operaciones/Operaciones/guardarDepartamentoRequest" message="tns:guardarDepartamento" />
<output wsam:Action="http://operaciones/Operaciones/guardarDepartamentoResponse" message="tns:guardarDepartamentoResponse" />
</operation>
<operation name="eliminarDepartamento">
<input wsam:Action="http://operaciones/Operaciones/eliminarDepartamentoRequest" message="tns:eliminarDepartamento" />
<output wsam:Action="http://operaciones/Operaciones/eliminarDepartamentoResponse" message="tns:eliminarDepartamentoResponse" />
</operation>
<operation name="mostarEmpleados">
<input wsam:Action="http://operaciones/Operaciones/mostarEmpleadosRequest" message="tns:mostarEmpleados" />
<output wsam:Action="http://operaciones/Operaciones/mostarEmpleadosResponse" message="tns:mostarEmpleadosResponse" />
</operation>
<operation name="actualizarDepartamento">
<input wsam:Action="http://operaciones/Operaciones/actualizarDepartamentoRequest" message="tns:actualizarDepartamento" />
<output wsam:Action="http://operaciones/Operaciones/actualizarDepartamentoResponse" message="tns:actualizarDepartamentoResponse" />
</operation>
</portType>
<binding name="OperacionesPortBinding" type="tns:Operaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="actualizarPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarDepartamento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="guardarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mostrarUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="guardarEmpleado">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mostrarDepartamentos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="guardarDepartamento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarDepartamento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="mostarEmpleados">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="actualizarDepartamento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Operaciones">
<port name="OperacionesPort" binding="tns:OperacionesPortBinding">
<soap:address location="http://localhost:8084/CRUDWEB/Operaciones" />
</port>
</service>
</definitions>